<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>유튜브 검색기능</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div style = "text-align: center">
    <h1>유튜브 검색</h1>
    <form action = '/youtube_search' method = "GET">
        <input type = 'text' name = "word">
        <button type = "submit">검색</button>
    </form><br>

    <% for (var i = 0; i < 10; i++){%>
            <a href="<%= url[i] %>" target="_blank"><img alt src="<%= img[i] %>"></a><br>
            제목: <%= title[i] %><br>
            링크: <a href="<%= url[i] %>" target="_blank"><%= url[i] %></a><br>
            -----------------------------------------------<br>
    <% } %>
    
    </div>
    
</body>
</html>